<div class="layout hFull">
  <div class="gridContainer">
    <div class="card" id="urlInputContainer">
      <app-url-input />
      <div id="urlListContainer">
        <app-landing-url-list />
      </div>
    </div>
    <div class="card" id="headerContainer">
      <app-landing-header />
    </div>
    <div class="card flex flexCol gap3" style="padding: 0">
      <app-theme-toggle-btn [extraCss]="'wFull hFull itemsCenter justCenter'" [classList]="'hFull'" />
    </div>
    <div class="card flex flexCol" style="padding: 0">
      <app-button
        [icon]="'person_check'"
        [extraCss]="'titleCase wfull wfull flexCol'"
        [label]="'Register'"
        (click)="openRegisterDialog()"
        [classList]="'hFull flex itemsCenter justCenter'"
      />
    </div>
    <div class="card flex flexCol" style="padding: 0">
      <app-button
        [icon]="'person'"
        [extraCss]="'titleCase wfull wfull flexCol'"
        [label]="'Login'"
        (click)="openLoginDialog()"
        [classList]="'hFull flex itemsCenter justCenter'"
      />
    </div>
  </div>
</div>
