<div class="hFull bgDark flex justCenter itemsCenter">
  <div class="flex flexCol gap6 registerContainer">
    <h1 class="titleText">Login into Linktun</h1>
    <br />
    <form class="flex flexCol gap6" action="">
      <div class="flex flexCol gap2">
        <span>Email</span>
        <input class="card" type="text" placeholder="jhondoe123@mail.com" />
      </div>
      <div class="flex flexCol gap2">
        <span>Password</span>
        <input class="card" type="text" placeholder="******" />
      </div>
      <a class="btn-link">
        <span class="mutedText forgotPass">Forgot Password?</span>
      </a>
      <button class="p6 btn-wide">
        <span>Login</span>
      </button>
    </form>
    <div class="flex itemsCenter gap3">
      <hr class="wFull" />
      <span class="mutedText">or</span>
      <hr class="wFull" />
    </div>
    <app-google-auth-btn />
    <br>
    <div class="flex gap3 justCenter">
      <span class="mutedText">Not on Linktun yet?</span>
      <a class="btn-link" href="">
        <span>Sign up</span>
      </a>
    </div>
  </div>
</div>
