<div class="container">
  <aside [ngClass]="isSidebarOpen ? 'sideBarOpen' : 'sidebarClosed'">
    <div class="flex gap6 itemsCenter">
      <app-button [icon]="'menu'" (click)="isSidebarOpen = !isSidebarOpen" />
      @if (isSidebarOpen) {
      <h1 class="boldText">Linktun</h1>
      }
    </div>
    <ul>
      @for (btn of sidebarBtns; track $index) {
      <li class="flex flexCol justCenter gap6">
        <a
          routerLinkActive="btn-filled"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="btn.route"
          class="p3"
        >
          <i class="material-symbols-rounded">
            {{ btn.icon }}
          </i>
          @if (isSidebarOpen) {
          <span class="px6">
            {{ btn.label }}
          </span>
          }
        </a>
      </li>
      }
    </ul>
    <div class="extraAsideBtns">
      <app-theme-toggle-btn />
    </div>
  </aside>
  <main class="bgDark wFull hFull">
    <router-outlet />
  </main>
</div>
