.container {
  height: 100vh;
  display: flex;
  gap: var(--spacing-6);
  background-color: var(--bg);
  padding-left: var(--spacing-6);
  padding-top: var(--spacing-6);
}

aside {
  padding: var(--spacing-6) 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
  background-color: var(--bg);
  transition: all ease .3s;
}

.sideBarOpen {
  width: 224px;
}

.sidebarClosed {
  width: 36px;
}

main {
  border-top-left-radius: 20px;
  overflow: auto;
}

.hide {
  display: none;
}

.extraAsideBtns {
  display: none;
}

@media (max-width: 720px) {
  aside {
    padding-top: 12px;
    display: none;
    border-right: solid 1px var(--border);
  }

  main {
    border-radius: 0;
  }

  .sideBarOpen {
    position: fixed;
    display: flex;
  }

  header {
    height: fit-content;
  }

  .headerContainer {
    border-bottom: solid 1px var(--border);
  }
}

@media (max-width: 600px) {
  .appTitle {
    display: none;
  }

  .extraHeaderBtns {
    display: none;
  }

  header {
    background-color: var(--bg-dark);
    border-style: none;
    padding: var(--spacing-2);
    height: fit-content;
    border-radius: var(--spacing-6);
  }

  .extraAsideBtns {
    display: flex;
    height: 100%;
    padding-bottom: var(--spacing-4);
  }
}
