<div class="dashboardContainer bg">
  <div class="p4 headerContainer">
    <header>
      <div class="flex itemsCenter gap6">
        <app-button [icon]="'menu'" (click)="isSidebarOpen = !isSidebarOpen" />
        <span class="boldText appTitle">Linktun</span>
      </div>
      <div class="flex justCenter gap6">
        <input placeholder="Search" />
      </div>
      <div class="flex gap6 justEnd">
        <div class="extraHeaderBtns flex gap6">
          <app-theme-toggle-btn />
          <app-button [icon]="'notifications'" />
        </div>
        <app-button [icon]="'person'" />
      </div>
    </header>
  </div>
  <div class="sidebarMainContent">
    <aside [ngClass]="isSidebarOpen ? 'sideBarOpen' : ''">
      @for (btn of sidebarBtns; track $index) {
      <app-button
        [label]="btn.label"
        [icon]="btn.icon"
        [style]="'sidebar'"
        [showLabel]="isSidebarOpen ? true : false"
      />
      }
      <div class="extraAsideBtns">
        <app-theme-toggle-btn />
      </div>
    </aside>
    <main class="bgDark wFull hFull">
      <router-outlet />
    </main>
  </div>
</div>
